In [14]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Dependencies and Setup
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
#Import CSV
weather_data_to_load = "weather_data/WeatherPy_challenge.csv"

In [16]:
# Read the weather data file and store it in a pandas DataFrame.
weather_data_df = pd.read_csv(weather_data_to_load)
weather_data_df.head(10)

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,0,Barrow,US,2020-02-23 04:11:46,71.29,-156.79,-20.20,75,1,8.05,clear sky,0.0,0.0
1,1,Juba,SS,2020-02-23 04:11:47,4.85,31.58,79.25,52,66,1.43,broken clouds,0.0,0.0
2,2,Sorland,NO,2020-02-23 04:11:47,67.67,12.69,38.25,71,100,28.54,overcast clouds,0.0,0.0
3,3,Rikitea,PF,2020-02-23 04:11:47,-23.12,-134.97,79.86,66,12,6.15,few clouds,0.0,0.0
4,4,Bluff,NZ,2020-02-23 04:11:47,-46.60,168.33,61.00,75,70,15.99,broken clouds,0.0,0.0
5,5,Hithadhoo,MV,2020-02-23 04:11:47,-0.60,73.08,83.25,79,100,17.49,overcast clouds,0.0,0.0
6,6,Mackay,AU,2020-02-23 04:11:48,-21.15,149.20,82.40,78,75,13.87,broken clouds,0.0,0.0
7,7,Morgan City,US,2020-02-23 04:11:48,29.70,-91.21,53.60,81,1,5.82,clear sky,0.0,0.0
8,8,Atuona,PF,2020-02-23 04:11:48,-9.80,-139.03,81.77,77,0,12.37,clear sky,0.0,0.0
9,9,Carnarvon,AU,2020-02-23 04:11:48,-24.87,113.63,82.40,58,0,9.17,clear sky,0.0,0.0

In [17]:
# Ask the customer to add a minimum, maximum temperature value.
# Ask customer if they want rainfall, snow.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain = input("Do you want it to be raining? (yes/no) ")
snow = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 70
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [18]:
#Filter rain and snow dataset
if rain == "no" and snow == "no":
    filtered_cities_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & 
                                       (weather_data_df["Max Temp"] >= min_temp) &
                                       (weather_data_df["Rain Inches (last 3 hrs)"] == 0) &
                                         (weather_data_df["Snow Inches (last 3 hrs)"] == 0)]
    
elif rain == "no" and snow == "yes":
    filtered_cities_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & 
                                       (weather_data_df["Max Temp"] >= min_temp) &
                                       (weather_data_df["Rain Inches (last 3 hrs)"] == 0) &
                                         (weather_data_df["Snow Inches (last 3 hrs)"] > 0)]
    
elif rain == "yes" and snow == "yes":
    filtered_cities_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & 
                                       (weather_data_df["Max Temp"] >= min_temp) &
                                       (weather_data_df["Rain Inches (last 3 hrs)"] > 0) &
                                         (weather_data_df["Snow Inches (last 3 hrs)"] > 0)]
    
elif rain == "yes" and snow == "no":
    filtered_cities_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & 
                                       (weather_data_df["Max Temp"] >= min_temp) &
                                       (weather_data_df["Rain Inches (last 3 hrs)"] > 0) &
                                         (weather_data_df["Snow Inches (last 3 hrs)"] == 0)]
    
filtered_cities_df.head(10)

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
2,2,Sorland,NO,2020-02-23 04:11:47,67.67,12.69,38.25,71,100,28.54,overcast clouds,0.0,0.0
4,4,Bluff,NZ,2020-02-23 04:11:47,-46.60,168.33,61.00,75,70,15.99,broken clouds,0.0,0.0
7,7,Morgan City,US,2020-02-23 04:11:48,29.70,-91.21,53.60,81,1,5.82,clear sky,0.0,0.0
10,10,Ushuaia,AR,2020-02-23 04:10:07,-54.80,-68.30,50.00,71,40,25.28,scattered clouds,0.0,0.0
11,11,Nikolskoye,RU,2020-02-23 04:11:49,59.70,30.79,39.20,84,40,13.42,scattered clouds,0.0,0.0
12,12,Umm Bab,QA,2020-02-23 04:11:49,25.21,50.81,70.00,93,20,6.82,mist,0.0,0.0
13,13,Chipinge,ZW,2020-02-23 04:11:49,-20.19,32.62,67.55,89,100,3.42,overcast clouds,0.0,0.0
14,14,Lebu,CL,2020-02-23 04:11:49,-37.62,-73.65,50.90,97,5,3.33,clear sky,0.0,0.0
16,16,Jalu,LY,2020-02-23 04:11:49,29.03,21.55,51.44,72,0,11.43,clear sky,0.0,0.0
17,17,Norrtalje,SE,2020-02-23 04:11:50,59.76,18.70,42.01,69,75,19.46,broken clouds,0.0,0.0

In [19]:
filtered_cities_df.count()

Unnamed: 0                  325
City                        325
Country                     323
Date                        325
Lat                         325
Lng                         325
Max Temp                    325
Humidity                    325
Cloudiness                  325
Wind Speed                  325
Current Description         325
Rain Inches (last 3 hrs)    325
Snow Inches (last 3 hrs)    325
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sorland,NO,38.25,overcast clouds,67.67,12.69,
4,Bluff,NZ,61.00,broken clouds,-46.60,168.33,
7,Morgan City,US,53.60,clear sky,29.70,-91.21,
10,Ushuaia,AR,50.00,scattered clouds,-54.80,-68.30,
11,Nikolskoye,RU,39.20,scattered clouds,59.70,30.79,
12,Umm Bab,QA,70.00,mist,25.21,50.81,
13,Chipinge,ZW,67.55,overcast clouds,-20.19,32.62,
14,Lebu,CL,50.90,clear sky,-37.62,-73.65,
16,Jalu,LY,51.44,clear sky,29.03,21.55,
17,Norrtalje,SE,42.01,broken clouds,59.76,18.70,

In [21]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
hotels

{'html_attributions': [],
 'next_page_token': 'CqQCHgEAAB3xDsRcB5jbeZsj4LXnFAeUKryB70fnV3P9iMkMvCmgLErryaRkM1SBOv9mdtGSJ913Ow48wcCAUkWWBDB_lkCdA7fGbSsoxBl2H7KTTK3BVsEZm_XrSt1K9bsmau07DLggGhtH-dTI_N1cCXfcoXkR4xWt-F5SRyf8-o5yV-WNC_dEczT3bGLi2ivrpWEQewM2BvmVfdJ77hyLj3I9uQE0WrWhMZZjvmmu1aN__91FsLcUJqJzxHAFRiowi6QJPUtK4lW1FTx7JYdJsDi8qp94VmkYWq_vKGW2clgLlgN6ISnYo3UWo0ybUA7FKWe3ms3smP2hPjLy9Weo--8czTE4HmZ71PE7RWunPArNL9thFwij2Cu-Kg7nP1TmdjrBABIQcfdzkLsTKFrI_b1pRjl7pBoUDPyWdi7kpGMh4bGULZBDPGBiOm8',
 'results': [{'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594402302915,
      'lng': 2.354348530291502},
     'southwest': {'lat': 48.8567422697085, 'lng': 2.351650569708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '7fa47cb61d7345cecc3b802d0e04fcff2b3d5ecb',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'CmRaAAAAadjzHLyrplLqD7gmONQ7vA1Ip5Wp1MsutrC9bxeR-7lHa3HmwIc3Zu_o9FxM3zxPMV3eorz7GSeFeFM-mQJWN1fgywDtVUIJeDBEMA3Yn-mSp3ziOktcEd09XXYXlLffEhD-2aUcmj59WOBjBqWQXt4pGhQmKqhMZQltvTlocjIkpw1pYkuUww',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 266,
   'vicinity': '11 Rue du Temple, Paris'},
  {'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.8595495802915,
      'lng': 2.347780980291502},
     'southwest': {'lat': 48.8568516197085, 'lng': 2.345083019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '4d2e3fa9d12bf9feb685e628eaa4da9b180956a9',
   'name': 'Hôtel Britannique - Paris Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1426,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Louvre</a>'],
     'photo_reference': 'CmRaAAAAlyEv5FLTTZZYNSwicCTkzCfB4iJMlm_8ghS9nx3C3YuLW0QVOWmPnWkMipImovUxpdJM2QtpoLYlZ5u7EbrSwaynBIyA3mdnTmSTmKbWoxYn1xB3UJqhec9f0RT3K3sVEhCAS2dJokU-hOVVGC66OnzzGhTyLWNAr_Kg7XI0CiTGoiZi1qxvZg',
     'width': 1476}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.5,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 223,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.8617681302915,
      'lng': 2.348040180291502},
     'southwest': {'lat': 48.8590701697085, 'lng': 2.345342219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '9f68a76d7e95a1f94ca131a0511bfe5ffa306818',
   'name': 'Citadines Les Halles Paris (Apart Hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 496,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102565262508115704337">Citadines Les Halles Paris (Apart Hotel Paris)</a>'],
     'photo_reference': 'CmRaAAAAf_OvtG_0exbpDXt_N3JlhNhfU4s-I2C1p4DkVk8LWzXugmsRZ1caxgUr7VK2AuwP5_ylaa6wTeRpmZJoHQ8iFOSssRM0mk3F6mWucx3SxzNemsqyuWFwORp-9BCk6VxTEhBggsVrs18QDb6cvw5ZGS7yGhR8Qb9bDdoQenbIbWOjDcsAwIIdtA',
     'width': 745}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 772,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'geometry': {'location': {'lat': 48.8607178, 'lng': 2.3465269},
    'viewport': {'northeast': {'lat': 48.86199603029149,
      'lng': 2.347707030291502},
     'southwest': {'lat': 48.85929806970849, 'lng': 2.345009069708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'd0fde78ef5688caa69780be22af2ec83d4adfd32',
   'name': 'Hotel Novotel Paris les Halles',
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Hotel Novotel Paris les Halles</a>'],
     'photo_reference': 'CmRaAAAAskUf8D9cCElwmZ9pa9svt38LtsWx7iKcfZ8gKlKiyj4EO6QB-XfCad0bWiKlUFLn1i9Xd_WBoW7ZsmzlHLR0V8gH-hoaSDMCxeWVIpEiZsDNuoD-BGrSHCh32U6ZmywLEhAsnKXg5Ftt6nwh9vr3zkjZGhQIdcUv5pZnZ4W77xs6UyjMIinzPg',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+7J Paris, France',
    'global_code': '8FW4V86W+7J'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1964,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'geometry': {'location': {'lat': 48.86034799999999, 'lng': 2.344054},
    'viewport': {'northeast': {'lat': 48.8616503302915,
      'lng': 2.345521080291502},
     'southwest': {'lat': 48.8589523697085, 'lng': 2.342823119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '071875f44126b9c8284f24b598fdfce0ef2b15a8',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1842,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Best Western Premier Ducs de Bourgogne</a>'],
     'photo_reference': 'CmRaAAAAmSreW5N-E-Am6PcywSpCt4ykcpiNfU7dr8zy9TFawG2-bC_vM9GAt3J5jEAbDTHMmP42lLRyf4LR1POAtIrdAt1_S94Q052x-JAA_f1E9E8vGH9l2bavm4KpWDAAvcN7EhAo9yKDohJwgZuJO4RN0w_3GhQ6g-FmiuZqg8degWCsZf8gbIxVAA',
     'width': 2880}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 261,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569042302915,
      'lng': 2.342317580291502},
     'southwest': {'lat': 48.8542062697085, 'lng': 2.339619619708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'da46237a58939495edf652bdf976bd44df477f05',
   'name': 'Citadines Saint-Germain-des-Prés Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116649065792056265685">Gilsun LEE</a>'],
     'photo_reference': 'CmRaAAAAksU8P-3bmgrIv4HXeJlnoEegg5qnGnSLcwnf3J3m4s1kOxB7mjHseGiFNwXJe8IU4lfsopKEc5NlPkiXFwssCW5hPOtUH4jkkpuh5hggY5w6Iv8QviasZa-7uVukfOenEhD8rgwFai7sCRSRJefUeKatGhRhcQ9Mg4bA0TuGPMoRjd-J-TXmxw',
     'width': 4032}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 635,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'geometry': {'location': {'lat': 48.86634659999999, 'lng': 2.36064},
    'viewport': {'northeast': {'lat': 48.8677623302915,
      'lng': 2.361952180291502},
     'southwest': {'lat': 48.86506436970851, 'lng': 2.359254219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '87ab2d184ee12f6be846d60470ed800629c99521',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613">Paris France Hôtel</a>'],
     'photo_reference': 'CmRaAAAAXgipl5en5ZdoiVrFOpMNXihaYN6aiCCTJmF8XXhpQcygFnBx-GQc5tL-fkLg38DU600nlVnhXVRq_qVCu6bQoVf3PUNCacexsi2aMfIeP5TajeBFhbZjsZcGIUvbk5hYEhCnsXssXMuopbBuGmS1drzeGhR40goYYAaY9XYLhAfTc0Kob6Wx3w',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.3,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 362,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'geometry': {'location': {'lat': 48.8549629, 'lng': 2.3331998},
    'viewport': {'northeast': {'lat': 48.8563231802915,
      'lng': 2.334450380291502},
     'southwest': {'lat': 48.8536252197085, 'lng': 2.331752419708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'd466793620469a720b439cf769a6f4c28217ef88',
   'name': 'Hôtel Bel Ami',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4377,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111426311500153571368">Hôtel Bel Ami</a>'],
     'photo_reference': 'CmRaAAAAfNW7VMdYVWeO0vfkq6OlE69HCCxwXg9dJuebNOSHF_X835uNGjOUNZWATqaNUDoLGi4MewhioIXDuqcSM7hoktCLXPlxjdZxJoOOkW4FkAQDlkR9I9QxJkklLAVo8eP0EhB0i6swTXqg8y9-htl5HHxKGhSYdpDpEuVo9bYbLgf4HajEbOqTuQ',
     'width': 6566}],
   'place_id': 'ChIJj0jPiddx5kcRnYv-p3-vfCA',
   'plus_code': {'compound_code': 'V83M+X7 Paris, France',
    'global_code': '8FW4V83M+X7'},
   'rating': 4.6,
   'reference': 'ChIJj0jPiddx5kcRnYv-p3-vfCA',
   'scope': 'GOOGLE',
   'types': ['spa',
    'place_of_worship',
    'lodging',
    'bar',
    'university',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 443,
   'vicinity': '7 Rue Saint-Benoît, Paris'},
  {'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8650759802915,
      'lng': 2.333775730291502},
     'southwest': {'lat': 48.8623780197085, 'lng': 2.331077769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '20dd8ae8d6ad9bbbe4ea9c6caf623fa071be187f',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2828,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109066439891801774697">Hotel Regina Louvre</a>'],
     'photo_reference': 'CmRaAAAAoLSatkdMVLmWleUhnqy4o8-eG-Y2mu_OG0JedBsHfntPuEcPK5qvpm8hdRgv1-pfyAED-afLMawSHJUSIdypDaXoUfkak-b4mEmTdQxG1GA2Memn92BWg1z_314V23kfEhA3y6wL2xqKoQbT_tGM5NCrGhQfmDvgj3E3XyooE7u_cpd8e-xnPA',
     'width': 4242}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.5,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 479,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'geometry': {'location': {'lat': 48.84789259999999, 'lng': 2.3708867},
    'viewport': {'northeast': {'lat': 48.84918173029149,
      'lng': 2.372313230291502},
     'southwest': {'lat': 48.8464837697085, 'lng': 2.369615269708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '6662d8cf04aa119625278786b9a8b5042c30409c',
   'name': 'Hotel ibis Paris Gare de Lyon Ledru Rollin 12ème',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4128,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101379513086988207219">T Lovely</a>'],
     'photo_reference': 'CmRaAAAA7ohwmzY2hjyFNOrZr1Yeids0bOJ3xP5OAeBaSUVM_qKdzguZGs4l9NJCnZVnQ-DCAu3JToGYhIBBzuxPqeQ6hnpSLDVDYdMLwmKcp0dE25T4fAdne-QhA432aSyj_3AcEhAkU6QiXCAi7DOhvMV1I6uXGhSj0zrdwKbWvmd-Dr0cQahLEB8WmQ',
     'width': 2322}],
   'place_id': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'plus_code': {'compound_code': 'R9XC+59 Paris, France',
    'global_code': '8FW4R9XC+59'},
   'rating': 4,
   'reference': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 707,
   'vicinity': '41/43 Avenue Ledru-Rollin, Paris'},
  {'geometry': {'location': {'lat': 48.84756770000001, 'lng': 2.3718501},
    'viewport': {'northeast': {'lat': 48.8488975302915,
      'lng': 2.373108630291501},
     'southwest': {'lat': 48.8461995697085, 'lng': 2.370410669708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'dd8abb1bc4b1337fc3bd3f26e92d36c9a31de2fd',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 787,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117462031751048846575">Hôtel De France Gare de Lyon Bastille</a>'],
     'photo_reference': 'CmRaAAAAu3SMLmjke5C5GYxjKSZWSdJp1X52sL14l2CkHvn2A5HD6SFLl5qjz17dYY2Z5ZLuAs--guT6ISsDwcKZ1lHTwiDC2xfBL7dIHZd6cYgQF1hiI-NyRrjuYwvxbwVRA6xdEhD38WQajnAX95UAJ_gHu7_JGhSn2dfypDc4nDZdddAXwDjbDo6WJQ',
     'width': 1181}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 364,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731394302915,
      'lng': 2.346067130291502},
     'southwest': {'lat': 48.8704414697085, 'lng': 2.343369169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '78d0f620a6cdf990371302f25505f3916839f53a',
   'name': 'Hôtel Corona Opéra',
   'photos': [{'height': 3120,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117113526015412043442">ID艾迪室內設計裝潢</a>'],
     'photo_reference': 'CmRaAAAAHeqFTqC5VqgVbXJSqMPJIDY-GpWoFSOv-36Jzs6qQk-xE03v5c_g1FV7vf3KI8yJ-Blrm2qZrEHPjGWINZDUWGlr7ZxONG3hLo2fkPdJ6VZ6m5kzZ6VlpKr7r8logOZEEhA99xzxDExoXeMDVAKdCZnOGhQQ_OvjNZhEUeusuawL_UHJ-1MNEg',
     'width': 4160}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 301,
   'vicinity': '8 Cité Bergère, Paris'},
  {'geometry': {'location': {'lat': 48.8423474, 'lng': 2.3632229},
    'viewport': {'northeast': {'lat': 48.8436522302915,
      'lng': 2.364706330291502},
     'southwest': {'lat': 48.8409542697085, 'lng': 2.362008369708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'c2c8e3f55bda0fd2bec95cd85db83c756bfebe2c',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 683,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113748802076686483057">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'CmRaAAAAFooG1lnPZ0pMv8NinKkoaFoSNiBIWkwGsdLwggxXe9bJFsr_A0JFG-_9tAQ7O6o1in1oXpsY4D6y8CPJV1-_zKlDs73z1TGjI5O0DXZyiMdE6L_QGSKnKlelqGXRmoKNEhAtBILArIh0tUOFVPnisofzGhRWrS0Cp3ZbCvQbdcwyg-QTjxUDjw',
     'width': 1024}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 3.9,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 402,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'geometry': {'location': {'lat': 48.864294, 'lng': 2.3307997},
    'viewport': {'northeast': {'lat': 48.8655772302915,
      'lng': 2.332153880291502},
     'southwest': {'lat': 48.8628792697085, 'lng': 2.329455919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '50797fba20cc1e735c57820607b18b04abf162b9',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 650,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'CmRaAAAADZuy8x_Ws71h5ugirbxC61v6DcpfVTOpHHqeBz_HTufdN2ilD0sj6j04EpvUPWLxHkiEf1zzqF6DPvOiKHDNH83wOG7FSNg2isAFc5P4AywWQ6dRqQNPN0caM-Jx-kCFEhAiHRi6zmkXDOO0r8AFBOSeGhSBlRc_-QKjxYK6fpKm-6006L1seA',
     'width': 802}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['spa',
    'lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1046,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'geometry': {'location': {'lat': 48.87110329999999, 'lng': 2.3389728},
    'viewport': {'northeast': {'lat': 48.87241758029149,
      'lng': 2.340357630291502},
     'southwest': {'lat': 48.8697196197085, 'lng': 2.337659669708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'ef15575a5c2adf57431313a0af490a78350630a5',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288">Hôtel Icône</a>'],
     'photo_reference': 'CmRaAAAAUgY9g3L829tCViFhTnVEyvj0x6e8QbgbmNw7kZGtO153Ti8d8wiaPVdoGvAcEHnlFmKW-VGn9BUWa5Bnw63XB7KmA556VhnMLRo6D9h2HdqpKoGAvavAWEoH78ZCBsVjEhAvdUJjd6-zjwIv8JivzgIpGhT5zn6hfYB46Z9BvMcMO0DT6UIjsQ',
     'width': 1600}],
   'place_id': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'plus_code': {'compound_code': 'V8CQ+CH Paris, France',
    'global_code': '8FW4V8CQ+CH'},
   'rating': 3.8,
   'reference': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 130,
   'vicinity': "4 Rue d'Amboise, Paris"},
  {'geometry': {'location': {'lat': 48.8654924, 'lng': 2.3271121},
    'viewport': {'northeast': {'lat': 48.8667867302915,
      'lng': 2.328593580291502},
     'southwest': {'lat': 48.8640887697085, 'lng': 2.325895619708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '751a05ec173f53ba581d8a32e047a69302c4886c',
   'name': 'The Westin Paris - Vendôme',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3128,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114122813402755091170">Go With Aik</a>'],
     'photo_reference': 'CmRaAAAAFTAt2O2VG2AjaiPKmE5eLd046VxZPyOprYOnlF0sM-Kbgtvjxov9fsBYfBPRQiVjILX3_8l1ZhprETGTqMfBVxMqS0iI6p935VKSA_FLKoZHl8zpYHnyL6-mfim_I8U4EhD4uXxZYbgSYMR5eqsw-1J2GhR0Mm0NpIEgZLvoFWjeOC3uHpLItA',
     'width': 11572}],
   'place_id': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'plus_code': {'compound_code': 'V88G+5R Paris, France',
    'global_code': '8FW4V88G+5R'},
   'rating': 4.4,
   'reference': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("success")
    except IndexError as e:
        print(e)

success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
list index out of range
list index out of range
success
success
success
success
list index out of range
list index out of range
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
list index out of range
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
list index out of range
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
list index out of range
list index out of range
success
success
success
list index out of range
list index out of range
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sorland,NO,38.25,overcast clouds,67.67,12.69,Sjybrygga fiskecamp
4,Bluff,NZ,61.00,broken clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
7,Morgan City,US,53.60,clear sky,29.70,-91.21,Hampton Inn & Suites Morgan City
10,Ushuaia,AR,50.00,scattered clouds,-54.80,-68.30,Albatros Hotel
11,Nikolskoye,RU,39.20,scattered clouds,59.70,30.79,Tourist House - Sablino
12,Umm Bab,QA,70.00,mist,25.21,50.81,
13,Chipinge,ZW,67.55,overcast clouds,-20.19,32.62,Mutare Club
14,Lebu,CL,50.90,clear sky,-37.62,-73.65,Hostal Las Lilas
16,Jalu,LY,51.44,clear sky,29.03,21.55,Jalu Hotel
17,Norrtalje,SE,42.01,broken clouds,59.76,18.70,Norrtälje Vandrarhem Hvilan

In [78]:
#Save as CSV 
output_data_file = "weather_data/WeatherPy_vacation.csv"

# Export the full_data into a CSV.
hotel_df.to_csv(output_data_file)

In [81]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

In [82]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add marker spots for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [52]:
#Four cities for vacation search
san_clemente_df=hotel_df.loc[hotel_df["City"]=="San Clemente"]
san_clemente_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
271,San Clemente,US,60.01,clear sky,33.43,-117.61,Best Western Plus Casablanca Inn

In [53]:
#Four cities for vacation search
ballstad_df=hotel_df.loc[hotel_df["City"]=="Ballstad"]
ballstad_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
631,Ballstad,US,54.0,scattered clouds,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [54]:
#Four cities for vacation search
portland_df=hotel_df.loc[hotel_df["City"]=="Portland"]
portland_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
141,Portland,US,48.2,few clouds,45.52,-122.68,Portland Marriott City Center

In [55]:
#Four cities for vacation search
port_hardy_df=hotel_df.loc[hotel_df["City"]=="Port Hardy"]
port_hardy_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
333,Port Hardy,CA,42.8,overcast clouds,50.7,-127.42,Airport Inn

In [56]:
#Create directions with latitude-longitude
san_clemente = (33.43, -117.61)
ballstad = (37.46, -122.43)
portland = (45.52, -122.68)
port_hardy = (50.7, -127.42)

fig = gmaps.figure()
san_to_porth=gmaps.directions_layer(san_clemente, port_hardy, waypoints=[ballstad, portland], travel_mode='DRIVING')
fig.add_layer(san_to_porth)
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
#New DataFrame for traveling cities
four_cities_df=pd.concat([san_clemente_df, ballstad_df, portland_df, port_hardy_df], ignore_index=True)
four_cities_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,San Clemente,US,60.01,clear sky,33.43,-117.61,Best Western Plus Casablanca Inn
1,Ballstad,US,54.00,scattered clouds,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
2,Portland,US,48.20,few clouds,45.52,-122.68,Portland Marriott City Center
3,Port Hardy,CA,42.80,overcast clouds,50.70,-127.42,Airport Inn

In [74]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

In [76]:
# Add a marker for each city.

hotel_info = [info_box_template.format(**row) for index, row in four_cities_df.iterrows()]
                                     
locations = four_cities_df[["Lat", "Lng"]]
max_temp = four_cities_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))